.card {
    background-color: #222;
    border-radius: 3px;
    flex-basis: 20%;
    flex-grow: 1;
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    text-align: left;
    padding: 1rem;
    border: 1px solid transparent;
    position: relative;
    cursor: pointer;
    user-select: none;
    max-width: 300px;
    min-width: 300px;
}

.card:hover {
    background-color: #333;
    border: 1px solid #333;
    transition: background-color 10s linear;
}

.company .title {
    font-size: 1.5rem;
    font-weight: bold;
    color: #fff;
}

.company .description {
    flex-grow: 1;
    color: #888;
}

.company .links {
    align-self: flex-end;
    display: flex;
    flex-direction: column;
    align-items: flex-end;
}

.chip {
    background-color: #222;
    border: 1px solid #666;
    padding: 0px 10px;
    border-radius: 50px;
    position: absolute;
    top: -10px;
    right: -30px;
}