#root {
  max-width: 1280px;
  margin: 0 auto;
  padding: 2rem;
  text-align: center;
}

.card-list {
  display: flex;
  flex-wrap:wrap;
  justify-content: flex-start;
  gap: 100px;
}

.footer {
  padding-top: 4rem;
  color: #888;
}
